@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
  EDgrid es una librería CSS para construir layouts con Responsive Web Design
  Importe este archivo en su proyecto para empezar a usarlo
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  text-transform: capitalize; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400; }

p {
  font-family: lato; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.item, .content-form, body.muar .content, body.muar .content-variables, body.muar .content-result {
  margin: 0;
  padding-left: 0.9375em;
  padding-right: 0.9375em; }

.item {
  width: 100%; }
  .item.container {
    padding-left: 0;
    padding-right: 0; }

/*
| Mixin para crear cuadriculas
|
| $selector: nombre del selector CSS de cada item de la cuadricula
|
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
.form-item a {
  display: inline-block;
  line-height: 2.5em;
  padding: 0 1.5em;
  cursor: pointer;
  margin-bottom: 1em;
  border: 1px solid transparent;
  font-weight: normal; }

body.muar .header-title, body.porps .content-title .title {
  font-weight: 400;
  letter-spacing: -.01em;
  font-family: open sans, san-serif; }

.content-full {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/index.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .content-full::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.content-form {
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%; }
  @media screen and (min-width: 640px) {
    .content-form {
      width: 70%; } }
  @media screen and (min-width: 1024px) {
    .content-form {
      width: 50%; } }

.form-item {
  text-align: center; }
  .form-item a {
    background: #fff;
    color: #333;
    border-color: #ccc;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: .35em;
    font-size: 1.2em;
    text-align: center; }
    .form-item a:hover {
      background: #f2f2f2;
      text-decoration: none; }
    .form-item a:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }
    .form-item a:hover {
      background-color: #d2322d; }
    .form-item a:active {
      -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
      transform: scale(0.97); }

body.muar {
  /*==============================
	=            header            =
	==============================*/
  /*==================================
	=            contenedor            =
	==================================*/
  /*==================================
	=            formulario            =
	==================================*/ }
  body.muar .content-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 1000; }
  body.muar .header-title {
    font-weight: 700;
    letter-spacing: -.01em;
    font-family: open sans, san-serif;
    text-transform: capitalize;
    margin: 20px 0;
    color: red; }
    @media screen and (min-width: 640px) {
      body.muar .header-title p {
        display: none; } }
    @media screen and (max-width: 639px) {
      body.muar .header-title span {
        display: none; } }
  body.muar .content-x {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  body.muar .content {
    height: 70%;
    background: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%; }
    @media screen and (min-width: 640px) {
      body.muar .content {
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      body.muar .content {
        width: 70%; } }
    @media screen and (min-width: 1440px) {
      body.muar .content {
        width: 50%; } }
  body.muar .content-options {
    margin: 10px; }
  body.muar .option-title {
    font-size: 1.8em;
    text-align: center;
    text-transform: capitalize;
    margin: 20px; }
  body.muar .imput-item {
    width: 100%;
    text-align: left; }
  body.muar .option-input {
    display: none; }
  body.muar .option-input:checked + label {
    padding: 5px 15px;
    background: #0774d9;
    border-radius: 2px;
    color: white; }
    body.muar .option-input:checked + label:before {
      display: none; }
  body.muar .option-label {
    color: #0774d9;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    text-transform: capitalize; }
    body.muar .option-label:hover {
      cursor: pointer;
      background: rgba(0, 116, 217, 0.1); }
    body.muar .option-label:before {
      content: "";
      width: 17px;
      height: 17px;
      background: transparent;
      display: inline-block;
      border: 3px solid #0774d9;
      border-radius: 50%;
      position: absolute;
      left: 17px;
      top: 4px; }
  body.muar .content-vals {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  body.muar .content-variables {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (min-width: 640px) {
      body.muar .content-variables {
        width: 75%; } }
  body.muar .content-list {
    list-style-type: none; }
  body.muar .list-item {
    margin: 5px;
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    body.muar .list-item input {
      text-align: center;
      background: rgba(0, 0, 0, 0.1);
      color: black;
      text-transform: capitalize;
      border: none;
      height: 40px;
      -webkit-box-shadow: 60px 0 0 rgba(0, 0, 0, 0.1);
      box-shadow: 60px 0 0 rgba(0, 0, 0, 0.1);
      width: 140px; }
    body.muar .list-item label {
      font-size: 20px;
      padding: 5px; }
      body.muar .list-item label.a2:after {
        content: "2";
        position: relative;
        font-size: 13px;
        top: -8px;
        left: 5px; }
  body.muar .content-result {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2em; }
    @media screen and (min-width: 640px) {
      body.muar .content-result {
        width: 25%; } }

body.porps {
  /*==============================
	=            titulo            =
	==============================*/
  /*============================
	=            body            =
	============================*/ }
  body.porps .contenedor-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  body.porps .content-title {
    position: relative;
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #0ff; }
    body.porps .content-title .title {
      font-weight: 700;
      letter-spacing: -.01em;
      font-family: open sans, san-serif;
      text-transform: uppercase;
      color: red; }
  body.porps .section-full {
    position: relative;
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
