%button {
  display        : inline-block;
  line-height    : 2.5em;
  padding        : 0 1.5em;
  cursor         : pointer;
  margin-bottom  : 1em;
  border         : 1px solid transparent;
  font-weight    : normal;
}







@mixin button($style:default, $border-radius: default ) {
  $valDarken: 8;

  @extend    %button;
  background   : #fff;
  color        : #333;
  border-color : #ccc;

  &:hover {
    background      : darken(#fff, 5);
    text-decoration : none;
  }

  &:active {
    transform : scale(.97);
  }

  @if $style == primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;  

    &:hover{
      background      : darken(#428bca, $valDarken);
    }
    &:active {
      transform : scale(.97);
    }

  } @else if $style == success {
    color              : #fff;
    background-color   : #5cb85c;
    border-color       : #4cae4c;

    &:hover{
      background       : darken(#5cb85c, $valDarken);
    }
    &:active {
      transform : scale(.97);
    }
  } @else if $style == info{
    color              : #fff;
    background-color   : #5bc0de;
    border-color       : #46b8da;

    &:hover {
      background-color : darken(#5bc0de, $valDarken);
    }
    &:active {
      transform : scale(.97);
    }
  } @else if $style == warning{
    color              : #fff;
    background-color   : #f0ad4e;
    border-color       : #eea236;

    &:hover{
      background-color : darken(#f0ad4e, $valDarken);
    }
    &:active {
      transform : scale(.97);
    }
  }@else if $style ==  danger{
    color              : #fff;
    background-color   : #d9534f;
    border-color       : #d43f3a; 

    &:hover{
      background-color : darken(#d9534f, $valDarken) ;
    }
    &:active {
      transform : scale(.97);
    }
    
  }@else if $style == link{
      border-color     : transparent;
      color            : #428bca;
      background       : none;


      &:hover{
        background     : none;
        text-decoration: underline;
      }
      &:active {
        transform : scale(.97);
      }
  }@else if $style == default{
    color              : black;
    background-color   : transparent;
    border-color       : #ccc;
    &:hover{
      background-color : transparent;
    }
    &:active {
      transform : scale(.97);
    }
  }






    // estilos del boton (radius o round)
    @if $border-radius == radius {
      border-radius : .35em;
    } @else if $border-radius == round {
      border-radius : 1.25em;
    }




    
}




