 %txt{	
	font-weight: 400;
	letter-spacing: -.01em;
	font-family: open sans, san-serif;
 }

@mixin txt($type:default, $style:default ) {
		@extend %txt;
		font-weight: 700;
		letter-spacing: -.01em;
		font-family: open sans, san-serif;

		@if $type == t1 {
			font-size: 30px;
			font-weight: 700;
		}
		@if $type == t2 {
			font-size: 24px;
			font-weight: 700;
		}
		@if $type == t3 {
			font-size: 20px;
			font-weight: 700;
		}
		@if $type == t4 {
			font-size: 20px;
			font-weight: 700;
		}
		@if $type == t5 {
			font-size: 16px;
			font-weight: 700;
		}
		@if $type == t6 {
			font-size: 14px;
			font-weight: 700;
		}


		


		@if $style == capitalize {
			text-transform: capitalize;
		}

		@if $style == uppercase {
			text-transform: uppercase;
		}

		@if $style == lowercase {
			text-transform: lowercase;
		}
}
